In [1]:
from utils import *

In [2]:
sam = '../data/minimap/sample1_md_tag.sam_for_real'

In [3]:
df = compute_read_cov_id(sam, 1)

In [4]:
df.head()

,read_id,query_cov,read_len,query_ident
0,"f765b020-2db8-4389-b3d8-b73d6e0bd743:0,CAGTCTC...",0.651357,470,0.919872
1,"f765b020-2db8-4389-b3d8-b73d6e0bd743:0,CAGTCTC...",0.649160,0,NaN
2,"f765b020-2db8-4389-b3d8-b73d6e0bd743:0,CAGTCTC...",0.649160,0,NaN
3,"f765b020-2db8-4389-b3d8-b73d6e0bd743:0,CAGTCTC...",0.636555,0,NaN
4,"f765b020-2db8-4389-b3d8-b73d6e0bd743:0,CAGTCTC...",0.527311,0,NaN

In [5]:
df.loc[(df.query_cov.notnull())&(df.query_ident.notnull())]

,read_id,query_cov,read_len,query_ident
0,"f765b020-2db8-4389-b3d8-b73d6e0bd743:0,CAGTCTC...",0.651357,470,0.919872
6,"7722f467-0777-4fe8-b7c6-a8db220e4d7e:-1,TACTTG...",0.762873,736,0.992895
12,"4163868a-b30a-4ea7-a918-70f7b13d7a53:0,AGGTCGA...",0.836364,849,0.857337
18,"e6a8f5b5-342b-4a02-8cac-f2be39bede3f:0,GAATAGG...",0.808559,881,0.972145
24,"e18b08b7-f973-46df-a2c7-0cec2f1a01bd:0,ATGCTCG...",0.725036,689,0.972056
...,...,...,...,...
10840,"c09b370c-0560-4ac2-b275-c0b39c7b0ee1:0,ATTTTGT...",0.876977,1138,0.996994
10844,"012248bb-2cdc-4f33-96d2-d26004d67fe1:0,CTTATTG...",0.753049,655,0.969636
10847,"f56c2349-85a0-46b5-a838-b993ef8d4d78:0,CATTAGC...",0.815772,1507,0.995126
10853,"782d117a-6350-46e2-9950-e1d113343ede:0,AAAGACG...",0.797119,828,0.992470
10855,"3c5a41b5-1361-4312-83c0-a7463b3fdfb0:0,GTTGCTG...",0.840426,1105,0.947257